*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
bin/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

.classpath
.project
.settings/

.cache
*.sjsir

# benchmarking the Scala.js incremental optimizer: https://groups.google.com/forum/#!topic/scala-js/E_nSW7MF-nE
sjs-measurements-*.log
sjsincoptbench.sbt
